name: Build Docker

on:
  # 手动触发
  workflow_dispatch:
  # 当 Dockerfile 或 entrypoint.sh 发生变化时自动触发
  push:
    branches:
      - main
    paths:
      - 'Dockerfile'
      - 'entrypoint.sh'

jobs:
  build_docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          # 直接使用仓库里现有的 Dockerfile
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/lobe-chat:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/lobe-chat:main
          cache-from: type=gha
          cache-to: type=gha,mode=max
